<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<meta charset="utf-8" />

<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-top: 50px; margin-left: 10px;">
			<div class="col-sm-9">
				<h4>DETAIL</h4>

				<div class="row" style="margin-top: 20px;">
					<a th:href="@{/product}">&#60;&#60; Product List</a>
					<hr />
				</div>

				<div class="row" style="margin-top: 20px;">
					<div class="col-sm-4">
						<img class="img-thumbnail" style="height: 300px; width: 300px;"
							th:src="#{adminPath}+@{/images/product/}+${product.id}+'.jpg'" />
					</div>
					<div class="col-sm-8">
						<h3 th:text="${product.name}">Product Name</h3>
						<br>

						<p>
							<strong>Category: </strong><span th:text="${product.category}"></span>
						</p>
						<span style="font-size: x-large; color: #db3208;">đ<span
							th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>

						<span style="text-decoration: line-through;">đ<span
							th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
						<hr>
						<p th:text="${#strings.abbreviate(product.description, 500)}"></p>

					</div>
				</div>
			</div>
			<div class="col-sm-3"
				style="border: 10px solid transparent; border-left-color: #e74c3c;">
				<h4>SHOPPING CART</h4>
				<form th:action="@{/shoppingCart/addItem}" method="post">
				<input hidden="hidden" th:field="*{product.id}" />
				
					<div class="card" style="width: 18rem;">

						<div class="card-body">

							<h5>
								Our Price: <span style="color: #db3208;">đ<span
									th:text="${product.ourPrice}"></span></span>
							</h5>
							<p>
								List Price: <span style="text-decoration: line-through">đ<span
									th:text="${product.listPrice}"></span></span>
							</p>
							<p>
								You save: đ<span
									th:text="${#numbers.formatDecimal((product.listPrice - product.ourPrice), 0, 'COMMA', 2, 'POINT' )}"></span>
							</p>
							
							<span>Quantity: </span> <select name="qty">
								<option th:each="qty : ${qtyList}" th:value="${qty}"
									th:text="${qty}"></option>
							</select>
							<hr>
							<h5 th:if="*{product.inStockNumber&gt;10}" style="color: green">In
								Stock</h5>
							<h5
								th:if="*{product.inStockNumber&lt;10 and product.inStockNumber&gt;0}"
								style="color: green">
								Only <span th:text="${product.inStockNumber}"> In Stock</span>
							</h5>
							<h5 th:if="*{product.inStockNumber==0}" style="color: darkred;">Unavailable</h5>
							<button type="submit" class="btn btn-primary">Add to
								Cart</button>
						</div>
					</div>
				</form>



			</div>
		</div>
	</div>



	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
