<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />



<body>
	<div th:replace="common/header :: navbar" />

	<div class="container"
		th:classappend="${classActiveForgetPassword}? 'in active'"
		style="margin: 6rem 8rem 8rem 8rem">

		<h1 class="mb-1 text-center">Recovery Account</h1>
		<div th:if="${emailNotExist}" class="alert alert-danger">Email
			doesn't exist.</div>
		<div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email
			sent.</div>
		<form th:action="@{/forgetPassword}" method="post">

				<div class="form-group">
					<label for="recoverEmail">* Your Email: </label> <input
						required="required" type="text" class="form-control"
						id="recoverEmail" name="email" size="20" />
				<p class="small text-center text-gray-soft">Enter your
					registered email address here.</p>
				</div>
				<button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
		</form>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
